<form method="post" action="/generate">
  <label for="message">Enter your message:</label><br>
  <input type="text" id="message" name="message" required><br>
  <input type="submit" value="Generate">
</form> 